[class*='--cover'] img,
[class*='--cover'] video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
[class*='--contain'] img,
[class*='--contain'] video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

.link--sign-in {
  border-radius: 1.5rem; /* 24/16 */
  text-decoration: underline;
  transition: background 0.3s ease, color 0.3s ease;
}
.link--bg {
  border-radius: 1.5rem; /* 24/16 */
  background: var(--button-bg);
  box-shadow: var(--button-box-shadow);
  color: var(--button-text);
  transition: background 0.3s ease;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem; /* 16/16 */
  font-size: 0.875rem; /* 14/16 */
  font-weight: 500;
  line-height: normal;
}

.section-header--center {
  text-align: center;
}
.section-header__title {
  color: var(--primary-title);
  font-weight: 700;
  line-height: normal;
  margin-block-end: 1rem; /* 16/16 */
}
.section-header__text {
  color: var(--primary-text);
  font-size: 1.25rem; /* 20/16 */
  line-height: 1.7; /* 170% */
}
.section-header__text p:not(:last-child) {
  margin-block-end: 1rem; /* 16/16 */
}
.section-header__link {
  padding-inline: 1.5rem; /* 24/16 */
  padding-block: 0.875rem; /* 14/16 */
  font-weight: 700;
}

@media (any-hover: hover) {
  [class*='--img-hover'] img {
    transition: filter 0.3s ease;
  }

  [class*='--img-hover']:hover img {
    filter: var(--hover-icon);
  }
  [class*='--img-hover']:active img {
    filter: none;
  }
  .link--sign-in:hover {
    background: var(--active-card-bg);
    color: var(--button-text);
  }
  .link--bg:hover {
    background: var(--active-card-bg);
  }
}

@media (min-width: 479.98px) {
  .actions__link {
    padding-block: 0.9375rem; /* 15/16 */
    padding-inline: 1.6875rem; /* 27/16 */
  }
  .section-header__title {
    font-size: 3.375rem; /* 54/16 */
  }
}
@media (min-width: 991.98px) {
  .actions {
    column-gap: 0.5rem; /* 8/16 */
  }
  .section-header__title--margin-bottom,
  .section-header__text--margin-bottom {
    margin-block-end: 1.875rem; /* 30/16 */
  }
}
@media (max-width: 991.98px) {
  .actions {
    column-gap: 1rem;
  }
  .section-header__title--margin-bottom,
  .section-header__text--margin-bottom {
    margin-block-end: 1rem; /* 16/16 */
  }
}
@media (max-width: 479.98px) {
  .link--sign-up {
    padding-block: 0.5rem; /* 8/16 */
    padding-inline: 0.875rem; /* 14/16 */
  }
  .section-header__title {
    font-size: 2rem; /* 32/16 */
  }
}
